/* Global Styles */
body {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #02101f;
}

.caption{
    color: #0000FF;
}

.price{
    margin-bottom: 40px;
}

/* Tab Bar Styles */
.tab-bar {
    font-size: 1.3em;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.tab-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center items vertically within the ul */
}
.tab-bar ul :hover{
    color: Black;
}

.tab-bar ul li {
    margin: 0 15px;
}

.tab-bar ul li a {
    color: #0000FF;
}

.tab-bar img {
    width: 7%;
    margin: 0 15px; /* Adjust margin if needed */
}

/* Banner Styles */
.banner {
    background: url('image/banner.jpg') no-repeat center center/cover;
    color: Blue;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 50px;
}

.banner h1 {
    font-family: Arial, sans-serif;
    font-size: 3em;
    margin: 0;
    color: #0000FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bóng văn bản: x-offset, y-offset, blur radius, color */
    font-weight: bold; /* Làm chữ đậm hơn */
    -webkit-text-stroke: 1.8px White; /* Viền văn bản: độ dày, màu */
}

.slogan {
    text-align: center;
}

.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Optional: Add padding if needed */
}

.products-title {
    font-size: 1.3em; /* Adjust font size as needed */
    display: flex;
    color: #0000FF;
    justify-content: left;
    margin: 0 72px; /* Remove default margin */
    white-space: normal; /* Đảm bảo text có thể tự động xuống dòng */
    word-wrap: break-word; /* Cho phép text dài xuống dòng mà không bị tràn ra ngoài */
}


/* Products Section */
.products {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.product :hover{
    cursor: pointer;
    color: Black;
}

.products > div {
    width: 25%; /* Mỗi phần tử chiếm khoảng 30% chiều rộng của hàng */
    margin-bottom: 20px; /* Tạo khoảng cách giữa các hàng */
}

.products img {
    width: 370px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Footer Styles */
footer {
    font-size: 1.1em;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
}


/* Responsive Design */
@media (max-width: 768px) {
    .products .image-left, .products .image-right, .products .product {
        width: 100%;
    }

    .banner {
        padding: 50px;
    }

    .tab-bar ul, .navbar ul {
        flex-direction: column;
    }

    .tab-bar ul li, .navbar ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {

/* Overlay for dimming background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Hide by default */
    z-index: 999; /* Below the modal */
}

/* Modal styling */
.product-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for better visibility */
    z-index: 1000; /* Above the overlay */
    max-width: 90%; /* Adjust to fit smaller screens */
    width: 500px; /* Set a max width for larger screens */
    box-sizing: border-box; /* Ensure padding is included in width */
}

    .banner{
        padding: 90px 0;
    }

    .products img {
        width: 320px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .products-title {
        font-size: 1.1em;
        margin-left: 57px;
    }

    .tab-bar{
        font-size: 1.2em;
    }
    .products .image-left, .products .image-right, .products .product {
        width: 100%;
    }

    .tab-bar-left, .tab-bar-right {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .tab-bar-left {
        order: 1;
        justify-content: flex-start;
    }

    .tab-bar-right {
        order: 3;
        justify-content: flex-end;
    }

    .tab-bar-logo {
        display: block;
        margin: 0 auto;
        order: 2;
        transform: scale(3.4);
    }
    
    .phone-number {
        display: none; /* Ẩn số điện thoại trên màn hình nhỏ */
    }

    .banner h1 {
        font-family: Arial, sans-serif;
        margin: 0;
        font-size: 1.8em;
        color: #4B0082;
        text-shadow: 
            1px 1px 0 #ffffff, 
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff; /* Tạo viền bằng cách sử dụng nhiều lớp text-shadow */
        font-weight: bold;
    }
    

    .product-details {
        width: 90%; /* Full width on smaller screens */
        max-width: 90%; /* Ensure modal does not exceed viewport width */
    }

    .product-details h2 {
        font-size: 1.5em; /* Larger font size for headings */
    }

    .product-details p,
    .product-details label,
    .product-details input {
        font-size: 1em; /* Adjust font size for readability */
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.close-button:hover {
    color: #000;
    text-decoration: none;
}

#product-description, #product-price {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Call Button Styles */
.call-button-container, .zalo-call-button-container {
    position: fixed;
    z-index: 1000;
}

.call-button, .zalo-call-button {
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.call-button-container {
    bottom: 20px;
    right: 20px;
}

.zalo-call-button-container {
    bottom: 100px;
    right: 20px;
}

.call-button a, .zalo-call-button a {
    color: white;
    font-size: 24px;
}

.call-button:hover, .zalo-call-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    cursor: pointer;
}

.ripple {
    pointer-events: none;
    position: absolute;
    border: 2px solid rgba(0, 123, 255, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: ripple 2s infinite;
}

.ripple1 {
    animation-delay: 2s;
}

.ripple2 {
    animation-delay: 3s;
}

.ripple3 {
    animation-delay: 4s;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.zalo-call-link {
    display: block;
    position: relative;
    width: 60px; /* Điều chỉnh kích thước theo ý bạn */
    height: 60px; /* Điều chỉnh kích thước theo ý bạn */
    background-image: url('image/zalo_logo.jpg'); /* Đường dẫn đến hình ảnh của bạn */
    background-size: contain; /* Để hình ảnh nằm gọn trong nút */
    background-repeat: no-repeat; /* Để hình ảnh không lặp lại */
    background-position: center; /* Để hình ảnh căn giữa */
    border-radius: 50%; /* Biến nút thành hình tròn */
    text-decoration: none; /* Loại bỏ gạch chân */
    overflow: hidden; /* Đảm bảo hình ảnh không tràn ra ngoài nút */
}

.zalo-call-link i {
    display: none; /* Ẩn biểu tượng điện thoại */
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 15px;
}

ul li a {
    text-decoration: none;
    color: blue;
}

#revenue-form-container {
    margin-top: 20px;
}

#revenue-form {
    display: flex;
    flex-direction: column;
}

#revenue-form label, #revenue-form input, #revenue-form button {
    margin-bottom: 10px;
}

#revenue-result {
    margin-top: 10px;
    font-weight: bold;
}

/* Hiển thị khi có class 'active' */
.intro-content.active {
    display: block;
}

.product-details {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-details input {
    margin: 5px 0;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid Black;
    padding: 5px 5px;
    margin-right: 20px;
    margin-left: 5px;
}

.modal-overlay {
    font-family: Quicksand, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Làm mờ nền */
    display: none;
    z-index: 999; /* Đặt z-index thấp hơn modal */
}

.product-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; /* Nền trắng cho modal */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Đặt z-index cao hơn overlay */
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: #e00; /* Change color on hover for better UX */
}

.product {
    position: relative; /* Để có thể định vị các phần tử con */
    display: inline-block; /* Để đảm bảo các phần tử con được căn chỉnh chính xác */
}

.discount {
    position: absolute;
    top: 10px; /* Điều chỉnh giá trị để đưa dòng discount lên trên so với ảnh */
    right: 60px; /* Điều chỉnh giá trị nếu cần thiết để di chuyển sang phải */
    background-color: Red; /* Màu nền của thông tin giảm giá */
    color: White; /* Màu chữ của thông tin giảm giá */
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px; /* Bo góc cho thông tin giảm giá */
    border: 2.5px solid White; /* Thêm viền trắng */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng bóng mờ nếu cần */
}

.highlight {
    animation: highlight 1s infinite; /* Thay đổi màu sắc trong 4 giây, lặp lại vô hạn */
}
  
@keyframes highlight {
    0% {
      color: Blue; /* Màu đầu tiên */
    }
    50% {
      color: red; /* Màu giữa chu kỳ */
    }
    100% {
      color: Black; /* Màu cuối cùng */
    }
}

/* Modal Styling */
.product-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Above the overlay */
    max-width: 90%;
    width: 500px; /* Width for larger screens */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.product-details h2 {
    font-size: 1.8em;
    margin: 0;
}

.product-details p,
.product-details label,
.product-details input {
    font-size: 1.2em;
    margin: 10px 0;
}

.modal-input-group {
    display: flex;
    align-items: center;
}

.modal-input-group label {
    width: 40%;
    text-align: left;
    margin-right: 10px;
}

.modal-input-group input {
    width: 50%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

#close-modal:hover {
    color: #e00;
}

/* Overlay for dimming background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Hide by default */
    z-index: 999; /* Below the modal */
}

/* Style for the button */
.calculate-revenue {
    margin: 20px auto; /* Center the button horizontally */
    padding: 8px 16px; /* Adjust padding if needed */
    font-size: 18px; /* Font size */
    background-color: #5555db; /* Green background */
    border: 2px solid #5555db;
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    display: block; /* Ensure the button is a block element */
    text-align: center; /* Center text inside the button */
    font-size: 1.1em;
}

.calculate-revenue:hover {
    background-color: White; /* Darker green on hover */
    color:#5555db;
    border: 2px solid #5555db;
}

.calculate-revenue:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Custom focus shadow */
}

.additional-images img {
    width: 100%; /* Giống như .product-image */
    max-height: 300px; /* Giống như .product-image */
    object-fit: cover; /* Đảm bảo hình ảnh được hiển thị đúng */
    margin: 20px 0; /* Thay đổi khoảng cách trên và dưới như .product-image */
    display: block; /* Đảm bảo hình ảnh là block để dễ căn chỉnh */
    margin: 20px auto; /* Center hình ảnh với khoảng cách trên và dưới */
    scale: 0.8;
}

/* Container for images */
.image-container {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Center items horizontally if needed */
    gap: 20px; /* Optional: Add space between the images */
    margin: 20px 0; /* Optional: Margin for spacing around the container */
}



.product-image{
    width: 100%; /* Full width of modal */
    max-height: 300px; /* Adjust height */
    object-fit: cover;
    scale: 0.8;
}

/* Style for additional images */
.additional-images img {
    flex: 1; /* Allow additional images to grow and take available space */
    max-height: 300px;
    object-fit: cover;
    margin: 0;
    scale: 0.8; /* Adjust scale if needed */
}
